.cell{
    width: 75px;
    height: 75px;
    border: 2px solid ;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color: aqua;
    box-shadow: 5px 5px 15px blue;
}
#gameContainer{
    text-align: center;
    font-family: "permanent marker",cursive;
}
#cellgame{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}
body{
    background-color: #161616;
}
#statustext{
    color: green;
}
h1{
    color: gold;
}
#restartBtn{
    width: 100px;
    background-color: #161616;
    color: #fff;
}
#restartBtn:hover{
    background-color: hsl(203, 12%, 21%);
}
#restartBtn:active{
     background-color: hsl(203, 12%, 31%);
}
